<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="@ViewData["Author"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon.ico" />
</head>
<body>
    <header>

        <nav class="top_nav navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">About</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Jobs</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">ProPortal</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Bursary</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Payments</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Staff</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Safeguarding</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Applicants</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Enrolments</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">ELIP</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" title="Example link from Weston College Website" class="nav-link top_nav_link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="blue_panel">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img class="logo" alt="Weston College Logo" src="~/images/logo.png" />
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p class="text-center">&copy; @DateTime.Now.Year - Ashley Colman - <a href="https://github.com/AshleyColman" target="_blank" title="View my GitHub">GitHub</a> - <a href="https://linkedin.com/in/ashley-colman" target="_blank" title="View my LinkedIn">LinkedIn</a> - <a href="mailto:dev.ashley.colman@gmail.com.com">Email</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>